.test-image{

    background-size: cover;
background-position: center;
animation: changeBackground 10s infinite;
}

@keyframes changeBackground {
    0% { background-image: url('https://images.unsplash.com/photo-1597739239353-50270a473397?q=80&w=1854&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')}
    50% { background-image: url('https://images.unsplash.com/photo-1598966835412-6de6f92c243d?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8JUVDJThBJUE0JUVEJThBJUI4JUVCJUE2JUJGfGVufDB8fDB8fHww')}
    100% { background-image: url('https://images.unsplash.com/photo-1597739239353-50270a473397?q=80&w=1854&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')}

}

.gallery {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    padding: 60px;
    }
    
    .item {
    margin: 10px;
    flex: 0 0 auto;
    width: 300px;
    color: white;
    line-height: 25px;
    }
    
    .item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    }

    .navbar {
        postiton: relative;
    }

    navbar ul{
        list-style-type: none;
        position: absolute;
        right: 0;
    
    }

    .navbar ul l